@charset 'utf-8';

@import url("https://fonts.googleapis.com/css?family=Lato:400,400italic,700,700italic|Source+Code+Pro:400");

* {
    margin: 0;
	padding: 0;
	border: 0;
}

body {
    color: #777;
    font-family: "Lato", sans-serif;
	font-size: 14pt;
	font-weight: 400;
	line-height: 1.75em;
}

a {
	color: inherit;
	text-decoration: none;
}

p {
	margin: 0 0 2em 0;
}

h1, h2, h3 {
	font-weight: 700;
	line-height: 1.2em;
	margin: 0.5625em 0;
}

h1, h3 {
	margin-bottom: 1em;
	color: #666666;
}

h2 {
	color: #336699;
	font-size: 3.5em;
}

div.content {
	margin: 2em auto;
}

ul {
	list-style: none;
}

ul.activities li {
	padding: 0.3em 0;
}

figure.avatar {
	display: inline-block;
	overflow: hidden;
}

figure.avatar img {
	border-radius: 100%;
	display: block;
	width: 150px;
	height: 150px;
}

input, textarea {
	display: inline-block;
	height: 2.75em;
	margin: 0.25em; 
	padding: 0.25em;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	font-style: italic;
	font-size: 1.4em;
	color: inherit;
	border-radius: 5px;
}

textarea {
	height: unset;
}

input[type="text"], input[type="email"], textarea {
	width: 80%;
	border: solid 3px #e4e4e4;
	outline: 0;
}

input[type="submit"] {
	cursor: pointer;
	background-color: #336699;
	color: #ffffff;
	text-align: center;
}

input[type="text"]:focus, input[type="email"]:focus, textarea:focus {
	border-color: #336699;
}

div#container {
	display: flex;
}

section#header {
	width: 35%;
	padding: 1.3em 0.5em;
	background: #336699;
	text-align: center;
	color: #fff;
}

section#header header h1 {
	color: #ffffff;
}

section#header a:hover {
	color: #000;
}

section#header footer {
	margin-top: 4em;
}

div#wrapper {
	width: 65%;
	padding: 1.3em 6em;
	background: #fff;
}

@media screen and (max-width: 768px) {

	div#container {
		display: block;
	}

	section#header {
		width: unset;
	}

	div#wrapper {
		width: unset;
		padding: 1.3em 0.8em;
	}
}

@media screen and (min-width: 992px) {

	ul.activities li {
		display: inline-block;
		width: 40%;
	}
}